@import "../../../styles/mixin.scss";

.section_career {
  display: flex;
  align-items: center;
  background-color: #111;
  padding: 60px;
  gap: 50px;

  @media (max-width: 1550px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 30px;
  }
}

.text_duration {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;

  @include tablet {
    font-size: 18px;
    line-height: 26px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 23px;
  }
}

.wrapper_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #666666;

  opacity: 0;
  transform: translateY(20px); 
  -webkit-transform: translateY(20px); 
  -moz-transform: translateY(20px); 
  -o-transform: translateY(20px); 
  -ms-transform: translateY(20px); 


  &.white {
    color: white;
  }

  &.active {
    opacity: 1;
    transform: translateY(0px); 
    -webkit-transform: translateY(0px); 
    -moz-transform: translateY(0px); 
    -o-transform: translateY(0px); 
    -ms-transform: translateY(0px);
    transition: opacity 2s, transform 2s;

    &:nth-child(1),
    &:nth-child(2) {
      transition-delay: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      transition-delay: .5s;
    }

    &:nth-child(5) {
      transition-delay: 1s;
    }
  }
}

.wrapper_logo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logo {
  position: relative;
  width: 350px;

  span {
    position: relative !important;
  }

  img {
    width: 100% !important;
    position: relative !important;
    height: auto !important;
  }

  @include tablet {
    width: 300px;
  }

  @include mobile {
    width: 250px;
  }
}

.text_desc {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  padding-left: 12px;

  &::after {
    content: '-';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }

  @include tablet {
    font-size: 18px;
    line-height: 26px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 23px; 
  }
}

.arrow {
  position: relative;
  flex-shrink: 0;
  width: 80px;
  height: 40px;
  img {
    transform: rotate(-90deg);
  }

  @media (max-width: 1550px) {
    img {
      transform: rotate(0deg);
    }
  }

  @include tablet {
    width: 70px;
    height: 35px;
  }

  @include mobile {
    width: 60px;
    height: 33px;
  }
}