@import "../../../styles/mixin.scss";

.section_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #232423;
  padding: 60px;
  gap: 60px;

  @include tablet {
    padding: 50px;
    gap: 40px;
  }

  @include mobile {
    padding: 15px;
    gap: 30px;
  }
}

.wrapper_title {
  display: flex;
  align-items: center;
  gap: 15px;

  opacity: 0;
  transform: translateY(20px); 
  -webkit-transform: translateY(20px); 
  -moz-transform: translateY(20px); 
  -o-transform: translateY(20px); 
  -ms-transform: translateY(20px); 

  &.active {
    opacity: 1;
    transform: translateY(0px); 
    -webkit-transform: translateY(0px); 
    -moz-transform: translateY(0px); 
    -o-transform: translateY(0px); 
    -ms-transform: translateY(0px);
    transition: opacity 2s, transform 2s;
  }
}

.text_year {
  font-weight: 700;
  font-size: 60px;
  color: #C2AF99;

  @include mobile {
    font-size: 32px;
  }
}

.text_title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: white;

  @include mobile {
    font-size: 20px;
    line-height: 28px;
  }
}

.wrapper_description {
  display: flex;
  align-items: center;
  gap: 15px;

  opacity: 0;
  transform: translateY(20px); 
  -webkit-transform: translateY(20px); 
  -moz-transform: translateY(20px); 
  -o-transform: translateY(20px); 
  -ms-transform: translateY(20px); 


  &.active {
    opacity: 1;
    transform: translateY(0px); 
    -webkit-transform: translateY(0px); 
    -moz-transform: translateY(0px); 
    -o-transform: translateY(0px); 
    -ms-transform: translateY(0px);
    transition: opacity 2s .4s, transform 2s .4s;
  }

  @include mobile {
    flex-direction: column;
  }
}

.img_profile {
  width: 167px;
  height: 215px;
}

.text_description {
  max-width: 800px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #D8D8D8;
  
  @include mobile {
    font-size: 16px;
    line-height: 23px;
  }
}

.wrapper_button {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: black;
  opacity: 0.5;
  cursor: pointer;

  &.active {
    opacity: 1;
  }

  @include hover {
    &:hover {
      opacity: 1;
    }
  }

  @include tablet {
    width: 45px;
    height: 45px;
  }

  @include mobile {
    width: 40px;
    height: 40px;
  }
}

.icon_link {
  width: 35px;
  height: 35px;

  @include tablet {
    width: 30px;
    height: 30px;
  }

  @include mobile {
    width: 25px;
    height: 25px;
  }
}

.icon_info {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  
  @include tablet {
    width: 25px;
    height: 25px;
  }

  @include mobile {
    width: 20px;
    height: 20px;
  }
}

.wrapper_info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
  transform: translateY(20px); 
  -webkit-transform: translateY(20px); 
  -moz-transform: translateY(20px); 
  -o-transform: translateY(20px); 
  -ms-transform: translateY(20px); 

  &.active {
    opacity: 1;
    transform: translateY(0px); 
    -webkit-transform: translateY(0px); 
    -moz-transform: translateY(0px); 
    -o-transform: translateY(0px); 
    -ms-transform: translateY(0px);
    transition: opacity 2s .8s, transform 2s .8s;
  }
}

.line_info {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  @include tablet {
    gap: 10px;
  }

  @include mobile {
    gap: 5px;
  }
}

.text_info {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #D8D8D8;

  @include tablet {
    font-size: 20px;
    line-height: 25px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 20px;
  }
}

.wrapper_tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  opacity: 0;
  transform: translateY(20px); 
  -webkit-transform: translateY(20px); 
  -moz-transform: translateY(20px); 
  -o-transform: translateY(20px); 
  -ms-transform: translateY(20px); 

  &.active {
    opacity: 1;
    transform: translateY(0px); 
    -webkit-transform: translateY(0px); 
    -moz-transform: translateY(0px); 
    -o-transform: translateY(0px); 
    -ms-transform: translateY(0px);
    transition: opacity 2s 1.2s, transform 2s 1.2s;
  }
}