@import "../../../styles/mixin.scss";

.section_experience {
  display: flex;
  flex-direction: column;
  padding: 60px;
  gap: 100px;
  background-color: #232423;
  color: #FFF;

  @include tablet {
    padding: 50px;
    gap: 80px;
  }

  @include mobile {
    padding: 15px;
    gap: 60px;
  }
}

.wrapper_experience {
  display: flex;
  gap: 30px;

  @media (max-width: 1300px) {
    flex-direction: column;
  }
}

.wrapper_description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;

  @include tablet {
    gap: 20px;
  }

  @include mobile {
    gap: 15px;
  }
}

.title_description {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  // margin-bottom: 30px;

  @include tablet {
    font-size: 30px;
    line-height: 36px;
  }

  @include mobile {
    font-size: 26px;
    line-height: 30px;
  }
}

.subtitle_description {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #D8D8D8;;

  @include tablet {
    font-size: 14px;
    line-height: 20px;
  }

  @include mobile {
    font-size: 14px;
    line-height: 20px;
  }
}

.content_description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #D8D8D8;
  white-space: pre-line;


  @include tablet {
    font-size: 18px;
    line-height: 26px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 22px;
  }
}

.list_link {
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.link_description {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #D8D8D8;

  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }

  @include tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 22px;
  }
}

.icon_link {
  width: 25px;
  height: 25px;

  @include tablet {
    width: 20px;
    height: 20px;
  }

  @include mobile {
    width: 18px;
    height: 18px;
  }
}

.list_tech {
  display: flex;
  gap: 10px;
}