html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 360px;

  .container {
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
      background: black;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: #ccc;
    }
    
    &.mobile {
      scroll-snap-type: y mandatory;
      .page {
        min-height: calc(var(--vh, 1vh) * 100);
        scroll-snap-align: start;
      }
    }

    .page {
      min-height: calc(var(--vh, 1vh) * 100);
      overflow-y: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }

      &.full {
        height: calc(var(--vh, 1vh) * 100);
      }
    }

    .section {
      width: 100%;
      min-height: inherit;    
    }
  }
}