html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 360px;

  .container {
    position: relative;
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
      background: black;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: #ccc;
    }
    
    &.mobile {
      scroll-snap-type: y mandatory;
      .page {
        height: 100vh;
        overflow-y: auto;
        scroll-snap-align: start;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera*/
        }
      }
    }

    .page {
      height: 100vh;
      overflow-y: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }

    .section {
      width: 100%;
      min-height: 100%;
    }
  }

 
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
